/*big tablet to 1200px*/
@media only screen and (max-width: 1200px) {
  .row {
    padding: 0 2%;
  }

  .sticky .logo {
    margin-top: 20px;
  }
  .sticky .main-nav {
    margin-top: 40px;
  }
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }
  .slider {
    margin-top: 50px;
    height: 500px;
  }
  .contact-company {
    padding-left: 150px;
  }
  .contact-customer h3 {
    padding-left: 5px;
  }
  .contact-customer {
    padding-left: 50px;
  }
  .contact-form {
    width: 80%;
  }
  footer p {
    margin-bottom: 80px;
  }
}

/* small tablet to big tablet: 768px to 1023px */
@media only screen and (max-width: 1023px) {
  .main-nav {
    margin-right: 20px;
  }
  .logo {
    margin-left: 20px;
  }
  .slider {
    height: 510px;
  }
  .contact-company {
    padding-left: 150px;
  }
  .contact-customer h3 {
    padding-left: 5px;
  }
  .contact-form {
    width: 80%;
  }
}

/*small phone to small tablet: 481px to 950px*/
@media only screen and (max-width: 950px) {
  .sticky .logo {
    padding-top: 15px;
  }
  blockquote {
    font-size: 80%;
  }

  .main-nav {
    position: fixed;
    left: -100%;
    top: 5rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(99, 98, 98, 0.95);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding: 30px 0;
    z-index: 20;
  }

  .main-nav.active {
    left: 0;
  }
  .main-nav li {
    margin-top: 10px;
  }
  .nav__link {
    padding: 2.5rem 0;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .sticky .main-nav {
    margin-top: 10px;
  }
  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    padding: 10px 0;
  }

  .hero-text-box {
    font-size: 60%;
  }
  .hero-text-box a {
    font-size: 150%;
  }
  .section-services {
    padding: 40px 30px;
  }
  .long-copy {
    width: 100%;
    margin-top: 0;
    margin-left: 0%;
  }

  .section-projects {
    padding: 30px 0;
  }
  .slider {
    height: 400px;
    margin-top: 20px;
  }
  .section-contact {
    padding: 30px 0;
  }
  .contact-company {
    padding-left: 50px;
  }
  .contact-customer {
    padding-left: 0px;
  }
  .contact-form {
    width: 100%;
    margin-left: 10px;
  }
  .slider__btn {
    height: 3rem;
    width: 3rem;
    font-size: 2.25rem;
  }
  footer p {
    margin-top: 90px;
  }
}

/*Small phones: 0 to 480px*/
@media only screen and (max-width: 520px) {
  h2 {
    font-size: 120%;
  }
  blockquote {
    font-size: 150%;
  }
  .sticky .logo {
    margin-top: 5px;
  }
  h3 {
    font-size: 70%;
  }
  body {
    font-size: 100%;
  }
  .logo {
    height: 50px;
    margin: 20px 20px;
  }
  .mobile-nav-icon {
    margin-top: 20px;
  }
  .slider {
    height: 200px;
    margin-top: 20px;
  }
  .contact-company {
    margin: 10px 30px;
    padding-left: 10px;
    font-size: 68%;
  }
  .contact-customer {
    margin-top: 30px;
  }
  .contact-form {
    font-size: 68%;
    margin-left: 0;
  }
  footer {
    font-size: 70%;
  }
  footer p {
    margin-top: 45px;
  }
  .slider__btn {
    height: 2rem;
    width: 2rem;
    font-size: 1.25rem;
    top: 40%;
  }

  .testimonials {
    font-size: 50%;
  }
}
